

.profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #222;
}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto Mono', monospace;
    color: #222;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #111;
    margin-top: 2rem;
}

h1 {
    font-size: 2rem;
    border-bottom: 2px solid #111;
    padding-bottom: 0.5rem;
    text-align: center;
    margin-top: 2rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.about-text {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    line-height: 1.8;
}

p {
    margin-bottom: 1.2rem;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2rem 0;
}

.footnote {
    font-size: 0.8rem;
    color: #777;
    margin-top: 3rem;
    text-align: left;
}

nav ul {
    list-style: none; /* remove bullet points */
    display: flex;
    justify-content: center; /* center the nav */
    gap: 2rem; /* spacing between nav links */
    padding: 1rem 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    color: #222;
    font-weight: 600;
}

nav ul li a:hover {
    text-decoration: underline;
}

/** specific to index.html */
.home {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}

.home p {
    font-family: 'Roboto Mono', monospace;
    margin-top: 1rem;
    line-height: 1.6;
}

.home-buttons {
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #333;
}


/** specific to the projects page */
.project {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

.project-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #111;
    padding-bottom: 0.3rem;
}

.project-desc {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.link {
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;
    color: #111;
    text-decoration: underline;
}
.link:hover {
    color: #555;
}
/** specific to the contacts page */

.contact {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    line-height: 1.8;
    text-align: center;
}

.contact-container {
    margin-top: 2rem;
}

.contact-item {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.contact-link {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
}

.contact-link:hover {
    color: #333;
}

.contact-item h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

